@import "tailwindcss";

/* Specifik stil för Musikkampen */
.musikkampen-title {
  font-family: "Gochi Hand"; /* Använd Gochi Hand för Musikkampen */
  font-size: 3rem; /* Större storlek för varumärket */
}

/* Specifik stil för Musikkampen */
.musikkampen-normal {
  font-family: "Gochi Hand"; /* Använd Gochi Hand för Musikkampen */
  font-size: 1.5rem; /* Större storlek för varumärket */
}

/* Specifik stil för varumärkes symbolen */
.trademark-symbol {
  font-family: "Arial", sans-serif; /* Använd Arial för varumärkes symbolen */
  font-size: 0.5em; /* Större storlek för varumärkes symbolen */
}

/* Animerad bakgrund */
@keyframes colorChange {
  0% {
    background-color: #ff4081;
  } /* Neon pink */
  16.67% {
    background-color: #00bcd4;
  } /* Cyan */
  33.33% {
    background-color: #ff9800;
  } /* Orange */
  50% {
    background-color: #2196f3;
  } /* Blue */
  66.67% {
    background-color: #ffeb3b;
  } /* Yellow */
  83.33% {
    background-color: #9c27b0;
  } /* Purple */
  100% {
    background-color: #ff4081;
  } /* Återgå till Neon pink */
}

/* Färgglad bakgrund för specifik div */
.colorful-background {
  animation: colorChange 10s infinite; /* Animerar bakgrunden var 10:e sekund */
}

/* Färgglad bakgrund för specifik div */
.colorful-background-slow {
  animation: colorChange 60s infinite; /* Animerar bakgrunden var 10:e sekund */
}
